@use "variables/fonts";
@use "variables/colors";
@use "reset/reset";
@use "card/car-card";

.button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
